venv
sinhuei.jpg
sinhuei_removed.png
retail-and-retailers-sales-time-series-collection
air-passengers
.env
EEG_Eye_State.arff
kaggle.json
arima_dataset
venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
TDA_nilm
TDA_nilm.ipynb
